:root{
  /**colors**/
--blue-green-color-wheel_60: hsla(165, 77%, 17%, 0.6);
--blue-green-color-wheel_10: hsla(165, 77%, 17%, 0.1);
--blue-green-color-wheel: hsl(165, 77%, 17%);
--black-chocolate: hsl(32, 24%, 14%);
--spanish-gray: hsl(210, 3%, 62%);
--orange-web: hsl(38, 100%, 50%);
--davys-gray: hsl(213, 5%, 34%);
--light-gray: hsl(0, 0%, 80%);
--msu-green: hsl(165, 77%, 15%);
--cultured: hsl(30, 22%, 96%);
--white_15: hsl(0, 0%, 100%, 0.15);
--white: hsl(0, 0%, 100%);
--onyx: hsl(210, 10%, 23%);

  /**typography**/

  --ff-montserrat: 'Montserrat', sans-serif;
--ff-playfair: 'Playfair Display', serif;

--fs-1: 3.6rem;
--fs-2: 2.4rem;
--fs-3: 2.2rem;
--fs-4: 2rem;
--fs-5: 1.5rem;
--fs-6: 1.4rem;
--fs-7: 1.3rem;

--fw-700: 700;
--fw-600: 600;
--fw-500: 500;

/**spacing**/
--section-padding-pr: 80px 0;
--section-padding: 60px;
--light-color:#666;
  --light-bg:#eee;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --border:.1rem solid rgba(0,0,0,.3);

/**shadow**/

--shadow-1: 0 2px 30px hsla(0, 0%, 0%, 0.1);
--shadow-2: 2px 4px 8px hsla(215, 20%, 16%, 0.15);

/**border raduis**/

--radius-2: 2px;
--radius-10: 10px;
--radius-50: 50px;

/**transition**/

--transition-1: 0.25s ease;
--transition-2: 0.5s ease;
--transition-3: 1s ease;
--cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
--cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
--cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
--cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
--cubic-bounce: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
--cubic-ease-out: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);




}




*,
*::before
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}

.badge {
  max-width: max-content;
  background-color: var(--hoockers-green);
  color: var(--white);
  font-weight: var(--fw-700);
  padding-inline: 12px;
  border-radius: var(--radius-3);
}

a,
img,
span,
input,
button,
ion-icon{
  display:block;
}

img{
  height: auto;
}

input,
button{
  background:none;
  border: none;
  font: inherit;
}

input { width: 100%; }

button { cursor: pointer; }

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-family: var(--ff-montserrat);
  font-size: 10px;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  background-color: var(--white);
  color: var(--davys-gray);
  font-size: 1.6rem;
  line-height: 1.75;
}

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }


 



/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

.btn {
  color: var(--white);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  max-width: max-content;
  padding: 8px 20px;
  border-radius: var(--radius-50);
  transition: var(--transition-1);
  display: inline-flex;
}

.btn-primary,
.btn-secondary:is(:hover, :focus) { background-color: darkgreen; }

.btn-secondary,
.btn-primary:is(:hover, :focus) { background-color: var(--orange-web); }

.section { padding-block: var(--section-padding); }

.h1,
.h2,
.h3 {
  color: var(--black-chocolate);
  font-family: var(--ff-playfair);
  line-height: 1.1;
}

.h1 { font-size: var(--fs-1); }

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-4); }

.grid-list {
  display: grid;
  gap: 50px;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-subtitle {
  color: var(--color, var(--blue-green-color-wheel));
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-block-end: 15px;
}

.section-title { text-align: center; }

.section-text { font-size: var(--fs-5); }

.title-wrapper {
  position: relative;
  padding-block: 40px;
  margin-block-end: 50px;
  z-index: 1;
}

.title-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 160px;
  background-image: url('images/title-shape-white.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}

.card-link {
  color: var(--spanish-gray);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  transition: var(--transition-2);
}

.card-link .span {
  display: inline-block;
  color: var(--hover-color, var(--black-chocolate));
  transition: var(--transition-2);
}

.card-meta-list {
  display: flex;
  align-items: center;
  gap: 25px;
}

.card-meta-item {
  position: relative;
  color: var(--orange-web);
  font-size: var(--fs-6);
}

.card-meta-item:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -15px;
  width: 4px;
  height: 4px;
  background-color: var(--blue-green-color-wheel);
  border-radius: 50%;
}

[data-section] > * {
  opacity: 0;
  transform: translateY(50px);
  transition: var(--transition-3);
}

[data-section].active > * {
  opacity: 1;
  transform: translateY(0);
}
.slider {
  --slider-items: 1;
  --item-gap: 12px;

  margin-block-start: 60px;
  overflow: hidden;
}

.slider-container {
  position: relative;
  display: flex;
  gap: var(--item-gap);
  transition: transform var(--cubic-ease-out);
}

.slider-item {
  --total-gap: calc(var(--item-gap) * (var(--slider-items) - 1));
  --item-width: calc((100% / var(--slider-items)) - (var(--total-gap) / var(--slider-items)));

  min-width: var(--item-width);
  width: var(--item-width);
}

.slider-control {
  position: relative;
  max-width: max-content;
  padding-block: 8px;
  opacity: 0.5;
}

.slider-control .line {
  width: 30px;
  height: 1px;
  background-color: var(--black-chocolate);
}

.slider-control .arrow {
  position: absolute;
  transform: translateY(-60%) rotate(45deg);
  width: 10px;
  height: 10px;
  border-style: solid;
  border-color: var(--black-chocolate);
}

.slider-control.prev .arrow {
  left: 0;
  border-width: 0 0 1px 1px;
}

.slider-control.next .arrow {
  right: 0;
  border-width: 1px 1px 0 0;
}

.slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-block-start: 40px;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--white_a5);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding-block: 15px;
  z-index: 4;
  transition: var(--transition-1);
}

.header.active { box-shadow: var(--shadow-2); }

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.logo {
  color: var(--black-chocolate);
  font-size: 30px;
  line-height: 1;
  font-weight: var(--fw-700);
}

.logo .span {
  display: inline-block;
  color: var(--orange-web);
}

.header .btn { margin-inline-start: auto; }

.nav-toggle-btn {
  font-size: 40px;
  color: var(--black-chocolate);
}

.navbar {
  position:fixed;
  top: 0;
  left: -300px;
  max-width: 200px;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  visibility: hidden;
  transition: 0.25s var(--cubic-in);
  z-index: 2;
}

.navbar.active {
  transform: translateX(100%);
  visibility: visible;
  transition: 0.5s var(--cubic-out);
}

.navbar .nav-toggle-btn {
  font-size: 35px;
  position: absolute;
  top: 25px;
  right: 20px;
}

.navbar .nav-toggle-btn ion-icon { --ionicon-stroke-width: 25px;}

.navbar-list {
  margin-block-start: 110px;
  border-block-end: 1px solid var(--blue-green-color-wheel_10);
}

.navbar-item { border-block-start: 1px solid var(--blue-green-color-wheel_10); }

.navbar-link {
  color: var(--black-chocolate);
  padding: 13px 20px;
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
  z-index: 1;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}


.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  padding-block: 130px 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25%;
}

.hero-subtitle {
  color: var(--blue-green-color-wheel);
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hero-title { margin-block: 16px 30px;
  font-family: var(--ff-montserrat);
 }

.hero-text {
  color: var(--black-chocolate);
  font-weight: var(--fw-600);
}

.hero .btn { margin-block: 20px; }

/*-----------------------------------*\
  #about
\*-----------------------------------*/


.about {
  background-color: white;
  overflow: hidden;
}



.about-banner::before,
.about-banner::after {
  content: "";
  position: absolute;
}

.about-banner::before {
  top: -35px;
  left: 300px;
  width: 100px;
  height: 100px;
  background-image: url('images/badge-2-bg\ -\ Copie.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: rotate360 8s linear infinite;
}


.about .section-text { margin-block: 15px 30px; }



.about .container {
  display: grid;
  gap: 120px;
}

.about-banner {
  position: relative;
  margin-block-end: 120px;
}

.about-banner > .w-100 { padding-inline-start: 50px; }

.about .abs-img { position: absolute; }

.about .abs-img::before { z-index: -1; }

.about .abs-img-1 {
  bottom: -120px;
  left: 0;
  width: 150px;
  padding-block: 50px;
}

.about .abs-img-2 {
  top: -65px;
  right: 0;
  overflow: hidden;
}

.about .abs-img-1::before {
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  background-image: url('images/img-pattern.svg');
  background-repeat: repeat;
}




@keyframes rotate360 {
  0% { transform: rotate(0); }
  100% { transform: rotate(1turn); }
}


.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.w-100 { width: 100%; }

.about-content {
  position: relative;
  padding: 40px;
  z-index: 1;
}

.about-content::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -20px;
  width: 110px;
  height: 110px;

  z-index: -1;
}

.about-subtitle {
  color: #F04770; 
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  letter-spacing: 1px;
}


.about :is(.section-subtitle, .section-title) { text-align: left; }

.about .section-title { margin-block-end: 20px; }


/*-----------------------------------*\
  #howitwors
\*-----------------------------------*/
.service{
  width: 100%;
  height: auto;
  background-color: rgb(245, 245, 245);
  font-family:var(--ff-montserrat);
  padding: 50px 0;
  display: grid;
  place-items: center;
}
.service .head{
  font-size: 27px;
  font-weight: 500;
  color: rgb(36, 134, 0);
  position: relative;
  margin-bottom: 80px;
}
.head::after{
  content: " ";
  position: absolute;
  width: 50%;
  height: 4px;
  left: 50%;
  bottom: -5px;
  background-image: linear-gradient(to right, rgb(6, 236, 140), rgb(220, 0, 240));
  transform: translateX(-50%);
}

/* Container Css Start  */

.container-service{
  width: 70%;
  height: auto;
  position: relative;
}
.container-service ul::after{
  position: absolute;
  content: '';
  width: 2px;
  height: 100%;
  background-image: linear-gradient(to right, rgb(106, 6, 236), rgb(220, 0, 240));
}
.container-service ul{
  list-style: none;
}
.container-service ul li{
  width: 50%;
  height: auto;
  padding: 15px 20px;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 4px 4px 25px rgba(51, 51, 51, 0.192);
  position: relative;
  z-index: 99;
}
.container-service ul li:nth-child(odd){
  float: left;
  clear: right;
  transform: translateX(-30px);
}
.container-service ul li:nth-child(odd) .date{
  right: 20px;
}
.container-service ul li:nth-child(even){
  float: right;
  clear: left;
  transform: translateX(30px);
}
.container-service ul li:nth-child(4){
  margin-bottom: 0;
}
.container-service ul li .title{
  font-size: 20px;
  font-weight: 500;
  color: rgb(106, 6, 236);
}
ul li p{
  font-size: 15px;
  color: #444;
  margin: 7px 0;
  line-height: 23px;
}
ul li a{
  font-size: 15px;
  color: rgb(106, 6, 236);
  text-decoration: none;
}
ul li .date{
  position: absolute;
  top: -45px;
  width: 135px;
  height: 35px;
  border-radius: 20px;
  color: #fff;
  background-image: linear-gradient(to right, rgb(106, 6, 236), rgb(220, 0, 240));
  display: grid;
  place-items: center;
  font-size: 14px;
}
.container-service ul li .circle{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(220, 0, 240, 0.401);
  position: absolute;
  top: 0;
}
.container-service ul li .circle::after{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgb(106, 6, 236);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-service ul li:nth-child(odd) .circle{
  right: -30px;
  transform: translate(50%, -50%);
}
.container-service ul li:nth-child(even) .circle{
  left: -30px;
  transform: translate(-50%, -50%);
}

/*  Media Query Started  */

@media screen and (max-width:1224px){
  .container{
      width: 85%;
  }
}

@media screen and (max-width:993px){
  .container-service{
      width: 80%;
      transform: translateX(15px);
  }
  .container-service ul::after{
      left: -30px;
  }
  .container-service ul li{
      width: 100%;
      float: none;
      clear: none;
      margin-bottom: 80px;
  }
  .container-service ul li:nth-child(odd){
      text-align: left;
      transform: translateX(0);
  }
  .container-service ul li:nth-child(odd) .date{
      left: 20px;
  }
  .container-service ul li:nth-child(odd) .circle{
      left: -30px;
      transform: translate(-50%, -50%);
  }
  .container-service ul li:nth-child(even){
      transform: translateX(0);
  }
}


/*-----------------------------------*\
  #areyouready
\*-----------------------------------*/
.ready{
  padding: 10rem 9%;
  background-color: white;
 
}
.heading {
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color:black;
  padding-left: 1rem;
  border-left: 1rem solid green;
  font-family: var(--ff-montserrat);
}


.ready .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
   align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 3rem;
}

.ready .row .video {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41rem;
          flex: 1 1 41rem;
}

.ready .row .video video {
  width: 100%;
}

.ready .row .content {
  margin-top: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41rem;
          flex: 1 1 41rem;
          margin-left: 40px;
}

.ready .row .content h3 {
  font-family: var(--ff-montserrat);
  font-size: 2.5rem;
  margin-top: 0;
  color:black;
 
}

.ready .row .content p {
  font-family: var(--ff-montserrat);
  font-size: 1.5rem;
  color:black;
  line-height: 2;
  padding: 1rem 0;
}


/*-----------------------------------*\
  #businessowners
\*-----------------------------------*/
.pricing {
  background:white;
  padding-left: 10rem  10%;
  padding-right:10rem  10%;


}

.pricing-content { margin-bottom: 30px; 

  
}

.pricing-title { 

  margin-bottom: 20px; 
  color: black;
  font-size: 3.7rem;
  font-weight: 700;
  margin-block-end: 5px;
}


.pricing-text { 
  margin-bottom: 20px; 
  font-family: var(--ff-montserrat);
  font-size: 1.5rem;
  color:black;
  line-height: 2;
  padding: 1rem 0;

}


 .grid-gallery {
  width: 100%;
  max-width: 700px;
  padding-top: 12rem ;
  padding-bottom: 12rem ;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow:dense;
  grid-gap: 10px;
}

.grid-gallery .grid-item {
  position: relative;
  background-color: #efefef;
  overflow: hidden;
}

.grid-gallery .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.grid-gallery .grid-item:hover img {
  transform: scale(1.1);
}

.grid-gallery .grid-item a {
  cursor: zoom-in;
}

.grid-gallery .grid-item:nth-child(3n - 2) {
  grid-column: span 2;
  grid-row: span 2;
}

/* Let's make it responsive */
@media (max-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
  }

  .grid-gallery .grid-item:nth-child(3n - 2) {
    grid-column: unset;
    grid-row: unset;
  }
}
/*-----------------------------------*\
  #brands
\*-----------------------------------*/


.logo-container {
  text-align: center;
  padding: 10rem 20% ;
  padding-top: 30px;
  background-color:white;
}
.logo-container h3{
  text-align: center;
  color:darkgreen;
  padding-top: 10px;
  font-family: var(--ff-montserrat);
  text-transform: capitalize;
}


.logo-container img {
  height: 8rem;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*-----------------------------------*\
  #CTA
\*-----------------------------------*/


/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  background-color:white;
  color: black;
  padding-block-start: 100px;
}

.footer .logo {
  color: var(--black-chocolate);
  font-size: 30px;
  line-height: 1;
  font-weight: var(--fw-700);
}

.footer-text { line-height: 1.6; }

.footer-top { padding-block: 5px; }

.footer-top .container {
  display: grid;
  gap: 30px;
}

.footer-list-title {
  color: darkgreen;
  font-weight: var(--fw-600);
  letter-spacing: 1px;
  margin-block-end: 25px;
}

.footer-list li:not(:last-child) { margin-block-end: 15px; }

.footer-link {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: var(--transition);
}


.footer-link:is(:hover, :focus) { opacity: 0.8; }

.footer-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-item:nth-child(2) { align-items: flex-start; }

.footer-list .footer-item:not(:last-child) { margin-block-end: 25px; }


.address { line-height: 1.5; }

.address-link {
  color:black;
  margin-block-start: 10px;
  transition: var(--transition);
}

.address-link:is(:hover, :focus) { opacity: 0.8; }

.footer-bottom {
  border-block-start: 1px solid var(--gunmetal);
  padding-block: 10px;
  text-align: center;
}

.copyright {
  line-height: 1.6;
  margin-block-end: 30px;
}

.copyright-link { display: inline-block; }

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.social-link {
  color: black;
  border: 1px solid var(--gunmetal);
  padding: 4px;
  border-radius: var(--radius-6);
}

.social-link:is(:hover, :focus) {
  background-color: var(--green-pigment);
  border-color: var(--green-pigment);
  color: green;
}





/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color:darkgreen;
  color:white;
  font-size: 14px;
  padding: 12px;
  border-radius: 50px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  z-index: 4;
}

.back-top-btn.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(-10px);
}


.line1{
  border: solid 1px darkgreen;
  margin-top: 2rem;
  
}








/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 575px screen
 */

 @media (min-width: 575px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 5.6rem;
    --fs-2: 3.6rem;

  }

/**
   * CTA
   */

   .cta-card { --fs-2: 1.5rem; }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 600px;
    width: 100%;
    margin-inline: auto;
  }

  .btn { padding: 10px 30px; }



  /**
   * HERO
   */

   .hero { padding-block: 170px 100px; }

   .hero-text { font-size: var(--fs-4); }
 
   .hero .btn { margin-block: 25px 80px; }
 
   .hero .social-title { --fs-6: 1.6rem; }
 
   .hero .social-link { padding: 15px; }


   /**
   * SERVICE
   */

  .card-text { max-width: 300px; }
    /**
   * ABOUT
   */

   .about-banner::before {
    top: -60px;
    right: -60px;
    width: 155px;
    height: 155px;
  }

  .about-content::after {
    top: -30px;
    left: -50px;
    width: 195px;
    height: 195px;
  }

  .about .section-title { --fs-2: 4.4rem; }

  .about-h3 { --fs-2: 3rem; }

  .ready .row .content h3 {
    font-size: 2.5rem;
  }

   /**
   * BRAND
   */

  .brand .scrollbar-item { min-width: 25%; }

   

   /**
   * PRICING
   */

   .pricing .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
  }

  /**
   * FOOTER
   */

   .footer { padding-block-start: 130px; }

 }


/**
 * responsive for larger than 768px screen
 */

 @media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 6.4rem;
    --fs-2: 5.7rem;

    /**
     * spacing
     */

    --section-padding: 80px;
    --section-padding-pr: 80px;

  }
   /**
   * INSTRUCTION
   */

   .instruction { overflow: hidden; }

   .instruction .section-text {
     max-width: 40ch;
     margin-inline: auto;
   }
 
   .instruction-list { grid-template-columns: 1fr 1fr; }
 
   .instruction-card { position: relative; }
 
   .instruction-card::after {
     content: "";
     width: 160px;
     height: 12px;
     background-image: url('../images/connect-line.png');
     background-repeat: no-repeat;
     background-size: contain;
     background-position: center;
     position: absolute;
     top: 50px;
     right: -95px;
   }
 
   .instruction-list > li:nth-child(even) .instruction-card::after {
     display: none;
   }
   /**
   * CTA
   */

  .cta-card { --fs-2: 1.625rem; }


  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }



  /**
   * HEADER
   */

  .logo { font-size: 35px; }



  /**
   * HERO
   */

  .hero-title { max-width: 15ch; }



  
  /**
   * SERVICE
   */

   .service .section-text {
    max-width: 650px;
    margin-inline: auto;
  }

  .service-list {
    grid-template-columns: 1fr 1fr;
    gap: 60px 0;
  }





   /**
    * ABOUT
    */
 
   .about-content { padding: 100px 80px; }
 
   .about .section-title { --fs-2: 5.7rem; }


   /**
   * BRAND
   */

  .brand .scrollbar-item { min-width: 20%; }

   /**
   * CTA
   */

  .cta .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
  }

  .cta { text-align: left; }

  .cta :is(.title, .btn) { margin-inline: 0; }

  .cta-img { transform: scale(1.3) translate(60px, 20px); }



  

   /**
   * FOOTER
   */

  .footer { padding-block-start: 130px; }
 
  } 
  @media (min-width: 992px) {

    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * spacing
       */
  
      --section-padding: 100px;
      --section-padding-pr: 100px;
  
    }
    /**
   * CTA
   */

  .cta-card {
    --fs-2: 1.875rem;
    --fs-5: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }

  .cta-card :is(.card-content, .cta-btn) { margin: 0; }


  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 960px; }
  
    .btn {
      font-size: unset;
      padding: 13px 40px;
    }
  
    :is(.service, .course, .blog) .grid-list {
      grid-template-columns: repeat(3, 1fr);
    }
  
  
  
   /**
   * HEADER
   */

  .nav-toggle-btn,
  .overlay { display: none; }

  .header { padding-block: 20px; }

  .navbar,
  .navbar.active,
  .navbar-list,
  .navbar-item { all: unset; }

  .navbar { margin-inline-start: auto; }

  .header .btn { margin-inline-start: 0; }

  .navbar-list { display: flex; }

  .navbar-link {
    font-size: unset;
    padding-inline: 15px;
    transition: var(--transition-1);
  }

  .navbar-link:is(:hover, :focus) { color: var(--orange-web); }
  

  
  
    /**
   * SERVICE
   */

  .service .section-text {
    --fs-6: 18px;
    margin-bottom: 50px;
  }

  .service-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  
  
  
    /**
     * ABOUT
     */
  
    .about .container {
      display: grid;
      grid-template-columns: 0.7fr 1fr;
      align-items: center;
      gap: 50px;
    }
  
    .about-banner { margin-block-end: 0; }
  
    .about-content { padding: 40px; }
  
    .about .section-title { --fs-2: 4.4rem; }
  
    .about-h3 { --fs-2: 2.4rem; }


    /**
   * BRAND
   */

  .brand .scrollbar-item { min-width: 20%; }

 
 
  
/**
   * FOOTER
   */

   .footer { padding-block-start: 80px; }

   .footer-top .container {
     grid-template-columns: repeat(3, 1fr);
     row-gap: 50px;
   }
 
   .footer-brand { grid-column: 1 / 4; }
 
   .footer-bottom .container {
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
 
   .copyright { margin-block-end: 0; }
 
 }
 
  /**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 8rem;

    /**
     * spacing
     */

    --section-padding: 140px;
    --section-padding-pr: 140px;
  }
  /**
   * INSTRUCTION
   */

   .instruction-list { grid-template-columns: repeat(4, 1fr); }

   .instruction-list > li:nth-child(even) .instruction-card::after {
     display: block;
   }
 
   .instruction-list > li:last-child .instruction-card::after {
     display: none;
   }


  /**
   * REUSED STYLE
   */

  .container { max-width: 1200px; }

   /**
   * CTA
   */

   .cta-card {
    --fs-2: 2.25rem;
    padding-inline: 60px;
  }

  /**
   * HEADER
   */

  .header .container { gap: 35px; }

  .navbar-link { padding-inline: 25px; }



  /**
   * HERO
   */

  .hero {
    padding-block: 200px 100px;
    background-position: 35%;
  }



   /**
   * SERVICE, FEATURES
   */

   .service .section-text {
    --fs-6: 20px;
    max-width: 700px;
    margin-bottom: 70px;
  }

  .service .card-icon,
  .features .card-icon { font-size: 70px; }
  

 /**
   * BRAND, FOOTER
   */

   :is(.brand) .container {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
  }
   

  /**
   * ABOUT
   */

  .about-content { padding: 100px 80px; }

  .about .section-title { --fs-2: 5.7rem; }

  .about-h3 { --fs-2: 3rem; }

  /**
   * FOOTER
   */

   .footer-brand { grid-column: auto; }

   .footer-top .container {
     grid-template-columns: 1fr 0.5fr 0.6fr 0.7fr;
   }
 
  }